* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 800px;
    border: 2px solid lime; 
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: #00000039;
    gap: 5px;
}

.sub {
    width: 40px;
    /* height: 40px; */
    background-color: rgb(255, 255, 255);
}



@keyframes waves {
    from {
        height: 90px;
    }

    to {
        height: 300px;
    }
}

.sub:nth-child(even) {
    animation: waves 0.5s linear infinite;
    animation-direction: alternate;
}

.sub:nth-child(odd) {
    animation: waves 0.6s linear infinite;
    animation-direction: alternate;
}